In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("salaries_by_college_major.csv")
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [10]:
median_salary = df['Starting Median Salary']
type(median_salary)

pandas.core.series.Series

In [11]:
largest_index = median_salary.idxmax()

In [13]:
major_with_largest_medianSalary = df['Undergraduate Major'][largest_index]
major_with_largest_medianSalary

'Physician Assistant'

In [15]:
highest_medCareer_salary_major = df['Undergraduate Major'][df['Mid-Career Median Salary'].idxmax()]
highest_medCareer_salary_major

'Chemical Engineering'

In [17]:
s = df.loc[df['Mid-Career Median Salary'].idxmax(),'Mid-Career Median Salary']
s

107000.0

In [18]:
lowest_starting_salary_index = df['Starting Median Salary'].idxmin()
lowest_starting_salary_index

49

In [19]:
lowest_starting_salary_major = df['Undergraduate Major'][lowest_starting_salary_index]
lowest_starting_salary_major

'Spanish'

In [20]:
salary_of_lowest = df.loc[lowest_starting_salary_index,'Starting Median Salary']
salary_of_lowest

34000.0

In [21]:
lowest_midCareer_Index = df['Mid-Career Median Salary'].idxmin()

In [22]:
lowest_midCareer_Major = df['Undergraduate Major'][lowest_midCareer_Index]
lowest_midCareer_Major

'Education'

In [23]:
lowest_midCareer_Salary = df.loc[lowest_midCareer_Index,'Mid-Career Median Salary']
lowest_midCareer_Salary

52000.0

axis=0 means rows, axis=1 means columns

In [9]:
empty_cells = df[df.isna().any(axis=1)] #find the empty cells
empty_cells

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [10]:
# drop 
df.dropna(inplace=True)

In [11]:
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [12]:
df.groupby('Group').count()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,12,12,12,12,12
HASS,22,22,22,22,22
STEM,16,16,16,16,16

In [19]:
# df.groupby('Group').mean() 
# because this would include undergraduate major, you cannot calculate the mean of undergraduate major
# therefore, we do:
numeric_columns = ['Starting Median Salary', 'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary', 'Mid-Career 90th Percentile Salary']
pd.options.display.float_format = '{:,.2f}'.format # make this two digit float
df.groupby('Group')[numeric_columns].mean()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,
Business,"44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"53,862.50","90,812.50","56,025.00","157,625.00"